@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Josefin+Sans:wght@100;200;300;800&display=swap');

:root {
  --white: #feffff;
  --azure: #def2f1;
  --keppel: #3aafa9;
  --myrtle: #2b7a78;
  --black: #17252a;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--keppel);
  font-family: 'Josefin Sans', sans-serif;
}

body {
  color: var(--black);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--white);
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  margin: 0;
  text-transform: capitalize;
}

h2 {
  color: var(--white);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

h3 {
  color: var(--myrtle);
  text-transform: uppercase;
  font-family: 'Fira Code', monospace;
  font-size: 1em;
  font-weight: 400;
}

h4 {
  color: var(--keppel);
  font-family: 'Fira Code', monospace;
  font-size: 0.75em;
  font-weight: 800;
  text-transform: uppercase;
}

h3,
h4 {
  margin-top: 4em;
}

a {
  color: var(--keppel);
  text-decoration: none;
}

a:hover {
  background-color: var(--azure);
  text-decoration: none;
}

a:visited {
  color: var(--myrtle);
}

div.section {
  width: 100%;
  padding: 0;
}

div.body {
  margin: 4em 4em 2em 11em;
  width: inherit;
}

.weak {
  opacity: 0.7;
}

@media print {
  .web {
    display: none;
  }

  div.body {
    margin: 4em 4em 2em 2em;
    width: inherit;
  }

  h3,
  h4 {
    margin-top: 1em;
  }

  p {
    margin-bottom: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #000000;
  }
}

@media (max-width: 640px) {
  div.body {
    margin: 4em 1em 1em 1em;
  }
}
